<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to line breaks</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>commaToLine.pl</string>
					<key>uuid</key>
					<string>D562BAAE-F37A-4538-8382-FC0A14BA9741</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalent</key>
					<string></string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to spaces</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>commaToSpace.pl</string>
					<key>uuid</key>
					<string>56EE217A-49D4-4796-8C35-5ED397A3BA6F</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to tabs</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>commaToTab.pl</string>
					<key>uuid</key>
					<string>9AE35D58-FD6D-4423-BC5F-8433AE15EF39</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Increment</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>commaIncrement.pl</string>
					<key>uuid</key>
					<string>9CA4E440-746E-44B6-A409-2B788F117DBE</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Normalize</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>commaNormalize.pl</string>
					<key>uuid</key>
					<string>A725910C-7F17-48DF-84F3-70D84BA489A1</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Quote '</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>commaQuoteSingle.pl</string>
					<key>uuid</key>
					<string>4EB0F076-1005-4DC1-9E8C-FE1E82D5AFBD</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Quote "</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>commaQuoteDouble.pl</string>
					<key>uuid</key>
					<string>A1CC459B-CF89-438E-8D1A-5A612C7A632B</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Remove duplicates</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>commaRemoveDuplicates.pl</string>
					<key>uuid</key>
					<string>2629A713-FCDB-4489-AA0A-7B03B86638B7</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Reverse</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>commaReverse.pl</string>
					<key>uuid</key>
					<string>11BCC5F4-274B-4732-9362-FDC55C2C55ED</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Sort</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>commaSort.pl</string>
					<key>uuid</key>
					<string>374F1879-45FE-4BDC-A64A-174D7A316674</string>
				</dict>
			</array>
			<key>name</key>
			<string>Comma</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to commas</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lineToComma.pl</string>
					<key>uuid</key>
					<string>411CE0D4-CAA8-42C9-A593-3986833ABDF0</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to spaces</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lineToSpace.pl</string>
					<key>uuid</key>
					<string>700F3EEC-51D9-4E4E-BE1A-1CD660241E58</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to tabs</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lineToTab.pl</string>
					<key>uuid</key>
					<string>9F41E8E0-E067-4B05-9FAF-5373E8A2B5EF</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Increment</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lineIncrement.pl</string>
					<key>uuid</key>
					<string>4406BBE3-71B5-4129-9210-7F5AFF534942</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Normalize</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lineNormalize.pl</string>
					<key>uuid</key>
					<string>CE5B6461-1B0C-4B4D-A722-45A7D7755821</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Quote '</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lineQuoteSingle.pl</string>
					<key>uuid</key>
					<string>4788EC93-9975-41DF-99EA-42ADF6FC1277</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Quote "</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lineQuoteDouble.pl</string>
					<key>uuid</key>
					<string>79479FD3-D2D8-4DF3-BF3F-39612B4D40D0</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Remove duplicates</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lineRemoveDuplicates.pl</string>
					<key>uuid</key>
					<string>B422DB61-D12C-43B5-A4D2-25C5C5585FB6</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Reverse</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lineReverse.pl</string>
					<key>uuid</key>
					<string>D9FA5BAE-FCBA-4653-8363-A3EC32C1E81A</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Sort</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lineSort.pl</string>
					<key>uuid</key>
					<string>E99651CE-0C29-4CA3-9637-8B8754EFEB25</string>
				</dict>
			</array>
			<key>name</key>
			<string>Line break</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to commas</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>spaceToComma.pl</string>
					<key>uuid</key>
					<string>B822DF71-1DED-4CA7-8B47-99946C90494E</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to line breaks</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>spaceToLine.pl</string>
					<key>uuid</key>
					<string>CDB66A25-60D9-4ACE-9536-C4308078513B</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to tabs</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>spaceToTab.pl</string>
					<key>uuid</key>
					<string>CED9FC63-CDA5-4F0F-AE5D-82264F4012FE</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Increment</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>spaceIncrement.pl</string>
					<key>uuid</key>
					<string>D0D9060A-E2BB-4A18-84AC-445F0DE53EB9</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Normalize</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>spaceNormalize.pl</string>
					<key>uuid</key>
					<string>88378BB9-3EFF-481A-B975-7178C9A2AD3C</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Quote '</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>spaceQuoteSingle.pl</string>
					<key>uuid</key>
					<string>121D8BF5-39D8-4DAD-B681-2019A5C1784A</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Quote "</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>spaceQuoteDouble.pl</string>
					<key>uuid</key>
					<string>D041D71A-442D-4DEA-8235-876A4608AE51</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Remove duplicates</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>spaceRemoveDuplicates.pl</string>
					<key>uuid</key>
					<string>479B38FE-FC84-46AD-B2E1-E1DFFC6446E7</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Reverse</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>spaceReverse.pl</string>
					<key>uuid</key>
					<string>2794CC3A-8B27-4677-AF2B-77732874A043</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Sort</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>spaceSort.pl</string>
					<key>uuid</key>
					<string>36234FCD-2ED4-4B1D-89B4-78DC436C8F15</string>
				</dict>
			</array>
			<key>name</key>
			<string>Space</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to commas</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>tabToComma.pl</string>
					<key>uuid</key>
					<string>443FCF86-C368-4AA7-BD57-D4570A9732BA</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to line breaks</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>tabToLine.pl</string>
					<key>uuid</key>
					<string>B51570A5-93EA-4D73-921C-6D329AEE110B</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Convert to spaces</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>tabToSpace.pl</string>
					<key>uuid</key>
					<string>EA6B96D7-F5B6-4984-BC18-CCF5F301B8BD</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Increment</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>tabIncrement.pl</string>
					<key>uuid</key>
					<string>84D4D8E1-AC1A-4965-871D-70232921FC1D</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Normalize</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>tabNormalize.pl</string>
					<key>uuid</key>
					<string>FE09D337-20DD-4D32-8B14-3FA02A0A9A59</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Quote '</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>tabQuoteSingle.pl</string>
					<key>uuid</key>
					<string>6B3FE0FD-81F5-4BDF-BB9C-84B5553EE852</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Quote "</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>tabQuoteDouble.pl</string>
					<key>uuid</key>
					<string>41BF21FE-B413-4FED-BF77-3A7671800B25</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Remove duplicates</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>tabRemoveDuplicates.pl</string>
					<key>uuid</key>
					<string>3998F092-EA5A-469A-97D1-42569BCA9E5F</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Reverse</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>tabReverse.pl</string>
					<key>uuid</key>
					<string>648107C3-133A-4D79-9CE5-11BBA3DFF233</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Sort</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>tabSort.pl</string>
					<key>uuid</key>
					<string>FED99580-4C23-47CE-9FA1-BA2EE65E16E2</string>
				</dict>
			</array>
			<key>name</key>
			<string>Tab</string>
		</dict>
	</array>
</dict>
</plist>
