<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginActions</key>
	<dict>
		<key>Adler-32 Hash</key>
		<dict>
			<key>action</key>
			<string>MakeHash</string>
			<key>options</key>
			<dict>
				<key>type</key>
				<string>adler-32</string>
			</dict>
			<key>submenu</key>
			<string>Hash</string>
		</dict>
		<key>CRC Hash</key>
		<dict>
			<key>action</key>
			<string>MakeHash</string>
			<key>options</key>
			<dict>
				<key>type</key>
				<string>crc-32</string>
			</dict>
			<key>submenu</key>
			<string>Hash</string>
		</dict>
		<key>MD5 Hash</key>
		<dict>
			<key>action</key>
			<string>MakeHash</string>
			<key>options</key>
			<dict>
				<key>type</key>
				<string>md5</string>
			</dict>
			<key>submenu</key>
			<string>Hash</string>
		</dict>
		<key>RIPEMD-160</key>
		<dict>
			<key>action</key>
			<string>MakeHash</string>
			<key>options</key>
			<dict>
				<key>type</key>
				<string>rmd160</string>
			</dict>
			<key>submenu</key>
			<string>Hash</string>
		</dict>
		<key>SHA-1 Hash</key>
		<dict>
			<key>action</key>
			<string>MakeHash</string>
			<key>options</key>
			<dict>
				<key>type</key>
				<string>sha-1</string>
			</dict>
			<key>submenu</key>
			<string>Hash</string>
		</dict>
		<key>SHA-256 Hash</key>
		<dict>
			<key>action</key>
			<string>MakeHash</string>
			<key>options</key>
			<dict>
				<key>type</key>
				<string>sha-256</string>
			</dict>
			<key>submenu</key>
			<string>Hash</string>
		</dict>
		<key>SHA-512 Hash</key>
		<dict>
			<key>action</key>
			<string>MakeHash</string>
			<key>options</key>
			<dict>
				<key>type</key>
				<string>sha-512</string>
			</dict>
			<key>submenu</key>
			<string>Hash</string>
		</dict>
	</dict>
</dict>
</plist>
