<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>charactersArray</key>
    <array>
        <dict>
            <key>beginString</key>
            <string>'</string>
            <key>endString</key>
            <string>'</string>
            <key>regularExpression</key>
            <false/>
        </dict>
        <dict>
            <key>beginString</key>
            <string>'\''</string>
        </dict>
    </array>
    <key>commentsArray</key>
    <array>
        <dict>
            <key>beginString</key>
            <string>/*</string>
            <key>endString</key>
            <string>*/</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>//.*</string>
            <key>regularExpression</key>
            <true/>
        </dict>
    </array>
    <key>extensions</key>
    <array>
        <dict>
            <key>keyString</key>
            <string>go</string>
        </dict>
    </array>
    <key>keywordsArray</key>
    <array>
        <dict>
            <key>beginString</key>
            <string>break</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>case</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>chan</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>const</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>continue</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>default</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>defer</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>else</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>fallthrough</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>for</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>func</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>go</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>goto</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>if</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>import</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>interface</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>map</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>package</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>range</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>return</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>select</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>struct</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>switch</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>type</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>var</string>
        </dict>
    </array>
    <key>numbersArray</key>
    <array>
        <dict>
            <key>beginString</key>
            <string>(\b\d+\.|(\b\d+)?\.\d+)(e[+-]?\d+)?j?i?</string>
            <key>ignoreCase</key>
            <true/>
            <key>regularExpression</key>
            <true/>
        </dict>
        <dict>
            <key>beginString</key>
            <string>\b(0[0-7]+|[1-9]\d*|0)(e[+-]?\d+|l)?j?i?\b</string>
            <key>ignoreCase</key>
            <true/>
            <key>regularExpression</key>
            <true/>
        </dict>
        <dict>
            <key>beginString</key>
            <string>\b0x[\da-f]+l?i?\b</string>
            <key>ignoreCase</key>
            <true/>
            <key>regularExpression</key>
            <true/>
        </dict>
    </array>
    <key>outlineMenuArray</key>
    <array/>
    <key>stringsArray</key>
    <array>
        <dict>
            <key>beginString</key>
            <string>"</string>
            <key>endString</key>
            <string>"</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>@"</string>
            <key>endString</key>
            <string>"</string>
        </dict>
    </array>
    <key>styleName</key>
    <string>go</string>
    <key>valuesArray</key>
    <array>
        <dict>
            <key>beginString</key>
            <string>false</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>iota</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>nil</string>
        </dict>
        <dict>
            <key>beginString</key>
            <string>true</string>
        </dict>
    </array>
</dict>
</plist>