
Library/Application\ Support/Sublime\ Text\ 2/Packages/User/SublimeREPLHistory
Library/Application\ Support/Sublime\ Text\ 2/Packages/User/Package\ Control.last-run
Library/Application\ Support/Sublime\ Text\ 2/Packages/User/encoding_cache.json

install/cookbooks
install/tmp
install/vendor
install/.ruby-version

.DS_Store
.AppleDouble
.LSOverride
Icon

*.py[cod]

# Thumbnails
._*

