[submodule "Library/Application Support/Coda 2/Modes/PHP-HTML.mode"]
	path = Library/Application Support/Coda 2/Modes/PHP-HTML.mode
	url = git://github.com/bobthecow/PHP-HTML.mode.git
[submodule "Library/Application Support/Coda 2/Modes/Mustache.mode"]
	path = Library/Application Support/Coda 2/Modes/Mustache.mode
	url = git://github.com/bobthecow/Mustache.mode.git
[submodule "Library/Application Support/Coda 2/Modes/Markdown.mode"]
	path = Library/Application Support/Coda 2/Modes/Markdown.mode
	url = git://github.com/bobthecow/Markdown.mode.git
[submodule "Library/Application Support/Coda 2/Modes/YAML.mode"]
	path = Library/Application Support/Coda 2/Modes/YAML.mode
	url = git://github.com/bobthecow/YAML.mode.git
[submodule "Library/Application Support/Coda 2/Modes/Twig-HTML.mode"]
	path = Library/Application Support/Coda 2/Modes/Twig-HTML.mode
	url = git://github.com/bobthecow/Twig-HTML.mode.git
[submodule "Library/Application Support/Coda 2/Modes/Twig-JavaScript.mode"]
	path = Library/Application Support/Coda 2/Modes/Twig-JavaScript.mode
	url = git://github.com/bobthecow/Twig-JavaScript.mode.git
[submodule "Library/Application Support/Coda 2/Modes/Twig-XML.mode"]
	path = Library/Application Support/Coda 2/Modes/Twig-XML.mode
	url = git://github.com/bobthecow/Twig-XML.mode.git
[submodule "Library/Application Support/Coda 2/Modes/CoffeeScript.mode"]
	path = Library/Application Support/Coda 2/Modes/CoffeeScript.mode
	url = git://github.com/nfiniteset/CoffeeScript.mode.git
[submodule "Library/Application Support/Coda 2/Modes/haml.mode"]
	path = Library/Application Support/Coda 2/Modes/haml.mode
	url = git://github.com/dreki/haml-mode-coda2.git
[submodule "Library/Application Support/Coda 2/Modes/jade.mode"]
	path = Library/Application Support/Coda 2/Modes/jade.mode
	url = git://github.com/bluestrike2/jade.mode.git
[submodule "Library/Application Support/Coda 2/Modes/stylus.mode"]
	path = Library/Application Support/Coda 2/Modes/stylus.mode
	url = git://github.com/bluestrike2/stylus.mode.git
[submodule "Library/Application Support/Coda 2/Plug-ins/Markdown.codaplugin"]
	path = Library/Application Support/Coda 2/Plug-ins/Markdown.codaplugin
	url = git://github.com/Ibmurai/Markdown.codaplugin.git
[submodule "Library/Application Support/Coda 2/Modes/Mootools.mode"]
	path = Library/Application Support/Coda 2/Modes/Mootools.mode
	url = git://github.com/pradador/MooMode.git
[submodule "Library/Application Support/Coda 2/Plug-ins/Jade.codaplugin"]
	path = Library/Application Support/Coda 2/Plug-ins/Jade.codaplugin
	url = git://github.com/ninjakttty/Jade.codaplugin.git
[submodule "Library/Application Support/Coda 2/Modes/django-template.mode"]
	path = Library/Application Support/Coda 2/Modes/django-template.mode
	url = git://github.com/jbergantine/django-template.mode.git
[submodule "Library/Application Support/Avian/Bundles/Validate On Save.tmbundle"]
	path = Library/Application Support/Avian/Bundles/Validate On Save.tmbundle
	url = git://github.com/sxtxixtxcxh/validate-on-save.tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/Code Beautifier.tmbundle"]
	path = Library/Application Support/Avian/Bundles/Code Beautifier.tmbundle
	url = git://github.com/mocoso/code-beautifier.tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/Ack.tmbundle"]
	path = Library/Application Support/Avian/Bundles/Ack.tmbundle
	url = git://github.com/protocool/ack-tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/JavaScript Jasmine.tmbundle"]
	path = Library/Application Support/Avian/Bundles/JavaScript Jasmine.tmbundle
	url = git://github.com/pivotalexperimental/jasmine-tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/PHP-Twig.tmbundle"]
	path = Library/Application Support/Avian/Bundles/PHP-Twig.tmbundle
	url = git://github.com/Anomareh/PHP-Twig.tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/JavaScript Node.tmbundle"]
	path = Library/Application Support/Avian/Bundles/JavaScript Node.tmbundle
	url = git://github.com/drnic/javascript-node.tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/Bundler.tmbundle"]
	path = Library/Application Support/Avian/Bundles/Bundler.tmbundle
	url = git://github.com/drnic/Bundler.tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/JavaScript Appcelerator Titanium Mobile.tmbundle"]
	path = Library/Application Support/Avian/Bundles/JavaScript Appcelerator Titanium Mobile.tmbundle
	url = git://github.com/subtleGradient/JavaScript-Appcelerator-Titanium-Mobile.tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/Nginx.tmbundle"]
	path = Library/Application Support/Avian/Bundles/Nginx.tmbundle
	url = git://github.com/johnmuhl/nginx-tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/Ruby Shoulda.tmbundle"]
	path = Library/Application Support/Avian/Bundles/Ruby Shoulda.tmbundle
	url = git://github.com/drnic/ruby-shoulda-tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/Chef.tmbundle"]
	path = Library/Application Support/Avian/Bundles/Chef.tmbundle
	url = git://github.com/drnic/Chef.tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/Capistrano.tmbundle"]
	path = Library/Application Support/Avian/Bundles/Capistrano.tmbundle
	url = git://github.com/vigetlabs/capistrano-tmbundle.git
[submodule "Library/Application Support/Avian/Bundles/DashMate.tmbundle"]
	path = Library/Application Support/Avian/Bundles/DashMate.tmbundle
	url = git://github.com/ram-nadella/DashMate.tmbundle.git
