
/Library/Application\ Support/Sublime\ Text\ 2/Packages/User/SublimeREPLHistory
/Library/Application\ Support/Sublime\ Text\ 2/Packages/User/Package\ Control.last-run
/Library/Application\ Support/Sublime\ Text\ 2/Packages/User/encoding_cache.json
/Library/Application\ Support/Sublime\ Text\ 2/Packages/User/*.cache
/Library/Application\ Support/Sublime\ Text\ 2/Packages/User/Package\ Control.system-ca-bundle

.DS_Store
.AppleDouble
.LSOverride
Icon

*.py[cod]

# Thumbnails
._*

