<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Convert to UPPERCASE</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>uppercase.php</string>
			<key>uuid</key>
			<string>8A5697C9-E1CB-447B-B3AC-3F900C79B938</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Convert to lowercase</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>lowercase.php</string>
			<key>uuid</key>
			<string>EF17582C-9438-4984-8CAA-D9C5BD677E39</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Convert to Caps Case</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>capitalize.php</string>
			<key>uuid</key>
			<string>03A09283-2B0F-459F-876E-4636FA21FE7E</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Newline to &lt;br /&gt;</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>new_to_br.php</string>
			<key>uuid</key>
			<string>B38F9761-D319-4250-BF49-27BC99D0D698</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Add Slashes to Quotes</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>add_slashes.php</string>
			<key>uuid</key>
			<string>10484131-7B9E-4138-91CF-9307CB166367</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Strip Slashes from Quotes</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>strip_slashes.php</string>
			<key>uuid</key>
			<string>FA465169-BC32-42FB-B96C-FBFFB7B2F0A2</string>
		</dict>
	</array>
</dict>
</plist>
