<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^p</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Paragraph</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>paragraph.php</string>
			<key>uuid</key>
			<string>4115B320-05A3-48AC-95DA-08A8C7DF6098</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^b</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Bold</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>bold.php</string>
			<key>uuid</key>
			<string>C036E4A8-7DE4-4FC2-9852-1CDBA7EFF00E</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^i</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Italic</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>italic.php</string>
			<key>uuid</key>
			<string>873D36DC-1763-4760-9487-D2B23558BDAE</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^u</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Unordered list</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>unorderedlist.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>A1EF5BEE-DFF5-4984-9956-54C14A13912F</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^l</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>List element</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>list_lines.php</string>
			<key>uuid</key>
			<string>EA4D8496-12F4-45F8-BAA3-EBFE617806CA</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^m</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Menu</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>menu.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>34F99594-978D-4F22-9E7C-F8D3F6788C46</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^a</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Link</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>link.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>9440BD68-DD64-4EB1-BBA9-9C9E35F37623</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^s</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Span</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>span.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>93F74023-7C9D-4480-BE49-C99887B2D6CA</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^d</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Div with class</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>div.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>02667961-9E5F-4320-B6BE-1B1383343A33</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^#</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Div with id</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>div_id.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>BB656FC3-F1E0-45B0-9F8E-D18ECAD59725</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>^ </string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Non-breaking space</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>nbspace.php</string>
			<key>uuid</key>
			<string>8A8242D6-7A23-4612-A441-82E6EF6B2E6E</string>
		</dict>
	</array>
</dict>
</plist>
