<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keyword</key>
		<string>al</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Eijiro</string>
		<key>url</key>
		<string>http://eow.alc.co.jp/{query}/</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>ds</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Dash</string>
		<key>url</key>
		<string>dash://{query}</string>
		<key>utf8</key>
		<false/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>cdnj</string>
		<key>spaces</key>
		<true/>
		<key>text</key>
		<string>Javascript CDN Search</string>
		<key>url</key>
		<string>http://www.cdnjs.com/#/search/{query}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>sass</string>
		<key>spaces</key>
		<true/>
		<key>text</key>
		<string>Compass</string>
		<key>url</key>
		<string>http://compass-style.org/search/?q={query}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>cpan</string>
		<key>spaces</key>
		<true/>
		<key>text</key>
		<string>CPAN Search</string>
		<key>url</key>
		<string>http://search.cpan.org/search?q={query};s={startIndex}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>gh</string>
		<key>spaces</key>
		<true/>
		<key>text</key>
		<string>Github Search</string>
		<key>url</key>
		<string>http://github.com/search?q={query}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>jqd</string>
		<key>spaces</key>
		<true/>
		<key>text</key>
		<string>jQuery Reference Search</string>
		<key>url</key>
		<string>http://docs.jquery.com/index.php?title=Special:Search&amp;search={query}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>mdn</string>
		<key>spaces</key>
		<true/>
		<key>text</key>
		<string>MDN Javascript Reference</string>
		<key>url</key>
		<string>https://developer.mozilla.org/ja/search?q={query}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>pd</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>perldoc.jp</string>
		<key>url</key>
		<string>http://perldoc.jp/{query}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>phd</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>php.net</string>
		<key>url</key>
		<string>http://php.net/{query}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>qr</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>QR Code</string>
		<key>url</key>
		<string>http://qrcode.jp/qr?q={query}&amp;s=8</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>ri</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Rurima Search</string>
		<key>url</key>
		<string>http://doc.ruby-lang.org/ja/search/query:{query}/</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>chef</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Chef Cookbooks Search</string>
		<key>url</key>
		<string>http://community.opscode.com/search?query={query}&amp;scope=cookbook</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>chefq</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Chef Questions Search</string>
		<key>url</key>
		<string>http://community.opscode.com/search?query={query}&amp;scope=question</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>rt</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Ruby Toolbox</string>
		<key>url</key>
		<string>https://www.ruby-toolbox.com/search?utf8=%E2%9C%93&amp;q={query}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>nt</string>
		<key>spaces</key>
		<true/>
		<key>text</key>
		<string>Node Toolbox</string>
		<key>url</key>
		<string>http://toolbox.no.de/search?q={query}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>man</string>
		<key>spaces</key>
		<true/>
		<key>text</key>
		<string>Man</string>
		<key>url</key>
		<string>http://x68000.q-e-d.net/~68user/unix/pickup?keyword={query}&amp;target=command</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>pyd</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Python documentation</string>
		<key>url</key>
		<string>http://www.python.jp/doc/release/search.html?q={query}&amp;check_keywords=yes&amp;area=default</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>nd</string>
		<key>spaces</key>
		<true/>
		<key>text</key>
		<string>Node.js</string>
		<key>url</key>
		<string>https://www.google.com/search?q=site%3Anodemanual.org%2F%20{query}</string>
		<key>utf8</key>
		<true/>
	</dict>
</array>
</plist>
